{% extends "website/base.html" %}

{% block content %}
    <div class="peoplecontent">
    <h1><u>Our Crew</u></h1>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/css/img/rm.png" alt="member image" style="width:200px;height:250px;">
            </div>
            <div class="membername">KIM NAMJOON</div>
            <div class="designation">C.E.O AK CORP</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/css/img/jin.jpg" alt="member image" style="width:200px;height:250px;">
            </div>
            <div class="membername">KIM SEOKJIN</div>
            <div class="designation">FRONTEND DEV</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/css/img/suga.jpg" alt="member image" style="width:200px;height:250px;">
            </div>
            <div class="membername">MIN YOONGI</div>
            <div class="designation">TECHNICAL TEAM</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/css/img/hobi.jpg" alt="member image" style="width:200px;height:250px;">
            </div>
            <div class="membername">JUNG HOSEOK</div>
            <div class="designation"> R & D HEAD </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/css/img/mochi.jpg" alt="member image" style="width:200px;height:250px;">
            </div>
            <div class="membername">PARK JIMIN</div>
            <div class="designation"> DESIGN TEAM </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/css/img/v.jpg" alt="member image" style="width:200px;height:250px;">
            </div>
            <div class="membername">KIM TAEHYUNG</div>
            <div class="designation"> MARKETING HEAD </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/css/img/jk.jpg" alt="member image" style="width:200px;height:250px;">
            </div>
            <div class="membername">JEON JUNGKOOK</div>
            <div class="designation"> PROJECT MANAGER </div>
        </div>
    </div>    
 


{% endblock  %}