{% extends "website/base.html" %}

{% block content %}
    <div class="productcontent">    
    <h1><u>Our Premium Products</u></h1>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/css/img/optical.jpg" alt="product image">
            </div>
            <div class="itemname">WTB12-3P2431 SICK - Optic sensor 1041411</div>
            <div class="itemprice">Price: Rs.20569.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/css/img/router.png"  alt="product image">
            </div>
            <div class="itemname">XIAOMI MI 4C WIRELESS ROUTER (DVB4211IN, WHITE)</div>
            <div class="itemprice">Price: Rs.1099.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/css/img/samsung.jpg"  alt="product image">
            </div>
            <div class="itemname">Samsung 860 EVO 500GB SATA 2.5" Internal Solid State Drive (SSD) (MZ-76E500)</div>
            <div class="itemprice">Price: Rs.6299.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/css/img/zeb.jpg"  alt="product image">
            </div>
            <div class="itemname">Zebronics Motherboard ZEB-G41 Socket 775.</div>
            <div class="itemprice">Price: Rs.2590.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/css/img/sound.jpg"  alt="product image">
            </div>
            <div class="itemname">Focusrite Scarlett Solo (3rd Gen) USB Audio Interface with Pro Tools, First</div>
            <div class="itemprice">Price: Rs.9995.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/css/img/gpu.jpg"  alt="product image">
            </div>
            <div class="itemname">ASUS GeForce GT710 2GB GDDR5 64-Bit Graphics Card with 0db Low Profile</div>
            <div class="itemprice">Price: Rs.2999.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/css/img/mic.jpg"  alt="product image">
            </div>
            <div class="itemname">Audio-Technica AT2020TYO Cardioid Condenser Studio Microphone (NA, Blue)</div>
            <div class="itemprice">Price: Rs.11000.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/css/img/cams.png"  alt="product image">
            </div>
            <div class="itemname">HP W100 WEBCAM FOR DESKTOP (480P RESOLUTION, 1W4W4AA, BLACK)</div>
            <div class="itemprice">Price: Rs.1699.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/css/img/gaming.jpg"  alt="product image">
            </div>
            <div class="itemname">ASUS ROG Strix Z490-F Gaming</div>
            <div class="itemprice">Price: Rs.25600.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/css/img/floppy1.jpg"  alt="product image">
            </div>
            <div class="itemname">USB Floppy Drive Emulator for Electronic Organ</div>
            <div class="itemprice">Price: Rs.1800.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/css/img/beats.jpg"  alt="product image">
            </div>
            <div class="itemname">Beats by Dr. Dre Studio3 Wireless Bluetooth Headphones (Blue)</div>
            <div class="itemprice">Price: Rs.40300.00 </div>
        </div>
        <div class="productitem"> 
            <div class="itemimage">
            <img src="/static/css/img/point.jpg"  alt="product image">
            </div>
            <div class="itemname">Logitech Wireless Presenter R400 (Black)</div>
            <div class="itemprice">Price: Rs.2299.00 </div>
        </div>
    </div>
{% endblock  %}